.view {
  border-bottom: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    232deg,
    rgba(231, 36, 9, 1) 0%,
    rgba(235, 143, 6, 1) 48%
  );
  overflow: auto;
  width: 100%;
  height: 75vh;
  display: inline-block;
}
.message {
  padding: 1rem;
}
.message-text {
  font-size: 2rem;
  white-space: pre-wrap;
  word-wrap: break-word;
  hyphens: auto;
}
.message-bottom {
  display: flex;
  justify-content: space-between;
}
