.View {
  font-size: 2rem;
  height: 80rem;
  border-bottom: 3px solid #000;
  overflow: scroll;
  width: 100%;
  display: inline-block;
}
.right {
  text-align: end;
}
.left {
  text-align: start;
}
